<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Usuários Cadastrados</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!cliente-list">Cliente</a></li>
            <li class="breadcrumb-item active">Listar</li>
        </ol>
    </div>
</div>

<div class="card" ng-init="loadCliente()">
    <div class="card-body">
        <div class="table-responsive m-t-40">
            <table id="myTable" class="table table-hover table-sm color-table muted-table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
						<th>Nome</th>
						<th class="text-center">Razão Social</th>
						<th class="text-center">Nome Fantasia</th>
						<th class="text-center">CNPJ</th>
						<th class="text-center">Inscrição Estadual</th>
						<!-- <th class="text-center">Celular</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cliente in clientes">
                        <td class="text-center">{{ cliente.id }}</td>
						<td>{{ cliente.razão_social }}</td>
						<td class="text-center">{{ cliente.nome_fantasia }}</td>
						<td>{{ cliente.cnpj }}</td>
						<td class="text-center">{{ cliente.inscricao_estadual }}</td>
						<!-- <td class="text-center">{{ cliente.numero_cel }}</td> -->
						<td class="text-center">
							<button class="btn btn-sm btn-info" ng-click="detailCliente(cliente)"><i class="fa fa-align-justify"></i></button>
						</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-empreendimento-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Detalhes do Empreendimento</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5>Informações</h5>
				<hr>
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label class="control-label">Cliente</label>
							<input type="text" class="form-control" ng-model="clienteDetail.id_cliente" ng-disabled="true">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label class="control-label">Nome</label>
							<input type="text" class="form-control" ng-model="clienteDetail.nome" ng-disabled="true">
						</div>
					</div>
					<div class="col-3">
						<div class="form-group">
							<label class="control-label">CNPJ</label>
							<input type="text" class="form-control" ng-model="clienteDetail.cnpj" ng-disabled="true">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<div class="form-group">
							<label class="control-label">Segmento</label>
							<select class="form-control" ng-model="clienteDetail.id_segmento" ng-disabled="true">
								<option value="1">Residência</option>
								<option value="2">Comércio</option>
								<option value="3">Indústria</option>
							</select>
						</div>
					</div>
					<div class="col-3">
						<div class="form-group">
							<label class="control-label">Porte</label>
							<select class="form-control" ng-model="clienteDetail.id_nivel" ng-disabled="true">
								<option value="1">Pequeno</option>
								<option value="2">Médio</option>
								<option value="3">Grande</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label class="control-label">Descrição</label>
							<textarea class="form-control" ng-model="clienteDetail.descricao" ng-disabled="true" rows="3"></textarea>
						</div>
					</div>
				</div>
				<h5>Endereço</h5>
				<hr>
				<div class="row">
					<div class="col-2">
						<div class="form-group">
							<label class="control-label">CEP</label>
							<input type="text" class="form-control" ng-model="clienteDetail.cep" ng-disabled="true">
						</div>
					</div>
					<div class="col-8">
						<div class="form-group">
							<label class="control-label">Logradouro</label>
							<input type="text" class="form-control" ng-model="clienteDetail.endereco" ng-disabled="true">
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<label class="control-label">Nº</label>
							<input type="text" class="form-control" ng-model="clienteDetail.numero" ng-disabled="true">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="form-group">
							<label class="control-label">Bairro</label>
							<input type="text" class="form-control" ng-model="clienteDetail.bairro" ng-disabled="true">
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label class="control-label">Estado</label>
							<select class="form-control" ng-model="clienteDetail.id_estado" ng-disabled="true">
								<option>São Paulo</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label class="control-label">Cidade</label>
							<select class="form-control" ng-model="clienteDetail.id_cidade" ng-disabled="true">
								<option>São Paulo</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>