<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Novo Dispositivo</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!dispositivo-list">Dispositivo</a></li>
            <li class="breadcrumb-item active">Cadastrar</li>
        </ol>
    </div>
</div>
<div class="row" ng-init="newDispostivo()">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<h5>Informações</h5>
						<hr>
						<div class="row">
                            <div class="col-7">
                                <div class="form-group">
                                    <label class="control-label">Nome</label>
                                    <input type="text" class="form-control" ng-model="dispositivo.nome">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label class="control-label">Modelo</label>
                                    <select class="form-control" ng-model="dispositivo.id_modelo">
                                        <option ng-repeat="modelo in modelos" value="{{ modelo.id }}">{{ modelo.modelo }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Descrição</label>
                                    <textarea class="form-control" ng-model="dispositivo.descricao" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			<div class="card-footer bg-transparent">
				<div class="clearfix">
					<div class="float-right">
						<button class="btn btn-secondary">Cancelar</button>
						<button class="btn btn-success" id="salvar-cliente" ng-click="saveDispositivo()" ng-if="editDisp == false"
								data-loading-text="<i class='fa fa-refresh fa-spin'></i> Salvando, Aguarde...">Salvar
                        </button>
                        <button class="btn btn-success" id="salvar-cliente" ng-click="atualizarDispositivo()" ng-if="editDisp == true"
								data-loading-text="<i class='fa fa-refresh fa-spin'></i> Salvando, Aguarde...">Atualizar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>