<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Dispositivos Cadastrados</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!dispositivo-list">Dispositivo</a></li>
            <li class="breadcrumb-item active">Listar</li>
        </ol>
    </div>
</div>

<div class="card" ng-init="loadCliente()">
    <div class="card-body">
        <div class="table-responsive m-t-40">
            <table id="myTable" class="table table-hover table-sm color-table muted-table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
						<th>Nome</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Modelo</th>
						<th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dispositivo in dispositivos">
                        <td class="text-center">{{ dispositivo.id }}</td>
						<td>{{ dispositivo.nome }}</td>
						<td>{{ dispositivo.descricao }}</td>
						<td class="text-center">{{ dispositivo.modelo }}</td>
						<td class="text-center">
							<a href="#!dispositivo-new?edit=true">
								<button class="btn btn-sm btn-warning" ng-click="editDispositivo(dispositivo)"><i class="fa fa-edit"></i></button>
							</a>
							<button class="btn btn-sm btn-info" ng-click="detailDispositivo(dispositivo)"><i class="fa fa-align-justify"></i></button>
							<button class="btn btn-sm btn-danger" ng-click="deleteDispositivo(dispositivo.id)"><i class="fa fa-trash"></i></button>
						</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-cliente-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Detalhes do dispostivo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5>Informações</h5>
				<hr>
				<div class="row">
					<div class="col-7">
						<div class="form-group">
							<label class="control-label">Nome</label>
							<input type="text" class="form-control" ng-model="dispositivoDetail.nome" ng-disabled="true">
						</div>
					</div>
					<div class="col-5">
						<div class="form-group">
							<label class="control-label">Modelo</label>
							<input type="text" class="form-control" ng-model="dispositivoDetail.modelo" ng-disabled="true">
						</div>
					</div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Descrição</label>
                            <textarea class="form-control" ng-model="dispositivoDetail.descricao" ng-disabled="true" rows="3"></textarea>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>