<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Novo Empreendimento</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!empreendimento-list">Empreendimento</a></li>
            <li class="breadcrumb-item active">Cadastrar</li>
        </ol>
    </div>
</div>
<div class="row" ng-init="newEmpreendimento()">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h5>Informações</h5>
				<hr>
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label class="control-label">Cliente</label>
							<div class="input-group">
								<input type="text" class="form-control" ng-model="empreendimento.nome_cliente" disabled>
								<div class="input-group-append">
									<button class="btn btn-success" type="button" ng-click="showModalCliente()"><i class="fa fa-align-justify"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="control-label">Nome</label>
							<input type="text" class="form-control" ng-model="empreendimento.nome">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<div class="form-group">
							<label class="control-label">CNPJ</label>
							<input type="text" class="form-control" ng-model="empreendimento.cnpj">
						</div>
					</div>
					<div class="col-3">
						<div class="form-group">
							<label class="control-label">Segmento</label>
							<select class="form-control" ng-model="empreendimento.id_segmento">
								<option value="1">Residência</option>
								<option value="2">Comércio</option>
								<option value="3">Indústria</option>
							</select>
						</div>
					</div>
					<div class="col-3">
						<div class="form-group">
							<label class="control-label">Porte</label>
							<select class="form-control" ng-model="empreendimento.id_porte">
								<option value="1">Pequeno</option>
								<option value="2">Médio</option>
								<option value="3">Grande</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label class="control-label">Descrição</label>
							<textarea class="form-control" rows="3" ng-model="empreendimento.descricao"></textarea>
						</div>
					</div>
				</div>
				<h5>Endereço</h5>
				<hr>
				<div class="row">
					<div class="col-2">
						<div class="form-group">
							<label class="control-label">CEP</label>
							<input type="text" class="form-control" ng-model="empreendimento.cep" ng-keyup="loadEnderecoByCEP()">
						</div>
					</div>
					<div class="col-8">
						<div class="form-group">
							<label class="control-label">Logradouro</label>
							<input type="text" class="form-control" ng-model="empreendimento.logradouro">
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<label class="control-label">Nº</label>
							<input type="text" class="form-control" id="empNumero" ng-model="empreendimento.numero">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="form-group">
							<label class="control-label">Bairro</label>
							<input type="text" class="form-control" ng-model="empreendimento.bairro">
						</div>
					</div>
					<div class="col-8">
						<div class="form-group">
							<label class="control-label">Complemento</label>
							<input type="text" class="form-control" ng-model="empreendimento.complemento">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="form-group">
							<label class="control-label">Estado</label>
							<select class="form-control" ng-model="empreendimento.id_estado" ng-options="estado.cod_ibge as estado.nome for estado in estados" ng-change="loadMunicipios()">
							</select>
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label class="control-label">Município</label>
							<select class="form-control" ng-model="empreendimento.id_municipio" ng-options="municipio.cod_ibge as municipio.nome for municipio in municipios" ng-disabled="!municipios">
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer bg-transparent">
				<div class="clearfix">
					<div class="float-right">
						<button class="btn btn-secondary" ng-click="newEmpreendimento()">Cancelar</button>
						<button class="btn btn-success" id="salvar-empreendimento" ng-click="saveEmpreendimento()" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Salvando, Aguarde...">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-cliente" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Clientes</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table id="myTable" class="table table-hover table-sm color-table muted-table table-bordered">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th>Nome</th>
							<th class="text-center">CNPJ/CPF</th>
							<th class="text-center">I.E.</th>
							<th class="text-center">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="clientes == []">
							<td class="text-center" colspan="15">
								<i class="fa fa-redo-alt fa-spin"></i> Aguarde... Carregando registros!
							</td>
						</tr>
						<tr ng-if="msgClientes">
							<td class="text-center" colspan="15">{{ msgClientes }}</td>
						</tr>
						<tr ng-repeat="cliente in clientes">
							<td class="text-center">{{ cliente.id }}</td>
							<td>{{ cliente.nome }} <small ng-if="cliente.razao_social">({{ cliente.razao_social }})</small></td>
							<td class="text-center">{{ cliente.cnpjCpf }}</td>	
							<td class="text-center">{{ cliente.inscricao_estadual }}</td>
							<td class="text-center">
								<button class="btn btn-sm btn-dark" ng-show="cliente.selected"><i class="fa fa-check"></i></button>
								<button class="btn btn-sm btn-success" ng-show="!cliente.selected" ng-click="addCliente(cliente)"><i class="fa fa-check"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>