<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Novo Usuario</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!usuario-list">Usuario</a></li>
            <li class="breadcrumb-item active">Cadastrar</li>
        </ol>
    </div>
</div>
<div class="row" ng-init="newUsuario()">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h5>Informações</h5>
				<hr>
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label class="control-label">Razão Social</label>
							<input type="text" class="form-control" ng-model="usuario.razao_social">
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="control-label">Nome Fantasia</label>
							<input type="text" class="form-control" ng-model="usuario.nome_fantasia">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<div class="form-group">
							<label class="control-label">CNPJ</label>
							<input type="text" class="form-control" ng-model="usuario.cnpj">
						</div>
					</div>
					<div class="col-3">
						<div class="form-group">
							<label class="control-label">Inscrição Estadual</label>
							<input type="text" class="form-control" ng-model="usuario.inscricao_estadual">
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label class="control-label">E-mail</label>
							<input type="text" class="form-control" ng-model="usuario.email">
						</div>
					</div>
				</div>
				<h5>Telefone</h5>
				<hr>
				<div class="row">
					<div class="col-2">
						<div class="form-group">
							<label class="control-label">DDD</label>
							<input type="text" class="form-control" ng-model="usuario.ddd">
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<label class="control-label">Telefone Fixo</label>
							<input type="text" class="form-control" ng-model="usuario.numero_tel">
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<label class="control-label">Tipo</label>
							<select class="form-control" ng-model="usuario.id_tipo">
								<option>Selecione</option>
								<option>Claro</option>
								<option>Oi</option>
								<option>Tim</option>
								<option>Vivo</option>
							</select>
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<label class="control-label">Celular</label>
							<input type="text" class="form-control" ng-model="usuario.numero_cel">
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<label class="control-label">Tipo 2</label>
							<select class="form-control" ng-model="usuario.id_tipo">
								<option>Selecione</option>
								<option>Claro</option>
								<option>Oi</option>
								<option>Tim</option>
								<option>Vivo</option>
							</select>
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<label class="control-label">Celular 2</label>
							<input type="text" class="form-control" ng-model="usuario.numero_cel">
						</div>
					</div>
				</div>
				<h5>Endereço</h5>
				<hr>
				<div class="row">
					<div class="col-2">
						<div class="form-group">
							<label class="control-label">CEP</label>
							<input type="text" class="form-control" ng-model="usuario.cep" ng-blur="loadEnderecoByCEP()">
						</div>
					</div>
					<div class="col-6">					
						<div class="form-group">
							<label class="control-label">Logradouro</label>
							<input type="text" class="form-control" ng-model="usuario.logradouro">
						</div>
					</div>
					<div class="col-1">
						<div class="form-group">
							<label class="control-label">Nº</label>
							<input type="text" class="form-control" ng-model="usuario.numero">
						</div>
					</div>
					<div class="col-3">
						<div class="form-group">
							<label class="control-label">Bairro</label>
							<input type="text" class="form-control" ng-model="usuario.numero">
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label class="control-label" ng-model="usuario.id_estado"></label>
							<input type="text" class="form-control" ng-model="usuario.complemento">
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label class="control-label">Estado</label>
							<select class="form-control" ng-model="usuario.id_estado">
								<option>Selecione</option>
								<option value="26">São Paulo</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label class="control-label">Cidade</label>
							<select class="form-control" ng-model="empreendimento.cidade">
								<option>Selecione</option>
								<option value="3829">São Paulo</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer bg-transparent">
				<div class="clearfix">
					<div class="float-right">
						<button class="btn btn-default px-5">Cancelar</button>
						<button class="btn btn-success px-5" ng-click="saveEmpreendimento()">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</div>